<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SalaryEntities" connectionString="metadata=res://*/SalaryModel.csdl|res://*/SalaryModel.ssdl|res://*/SalaryModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ORA10;USER ID=KNV14534&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>