<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Salary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AddRetention.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Salary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <Salary.Properties.Settings>
      <setting name="PathAdditRetentFile" serializeAs="String">
        <value>c:\</value>
      </setting>
    </Salary.Properties.Settings>
    <AddRetention.Properties.Settings>
      <setting name="PathAdditRetentFile" serializeAs="String">
        <value>c:\</value>
      </setting>
    </AddRetention.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="EntitiesSalary" connectionString="metadata=res://*/SalaryModel.csdl|res://*/SalaryModel.ssdl|res://*/SalaryModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ORA10;PASSWORD=;USER ID=KNV14534&quot;" providerName="System.Data.EntityClient" />
    <add name="SalaryEntities" connectionString="metadata=res://*/SalaryModel.csdl|res://*/SalaryModel.ssdl|res://*/SalaryModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ORA10;USER ID=KNV14534&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Salary.Properties.Settings>
      <setting name="SalaryMessage_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LocalUploadPath" serializeAs="String">
        <value>c:\</value>
      </setting>
    </Salary.Properties.Settings>
  </userSettings>
</configuration>